.body{
    background: #e9ecef;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    gap: 20em;
    align-items: center;
    width: max(80vw,90%);
    padding-right: 4em;
    padding-left: 7em;
    height: 25vh;
    /* padding: 2em; */
    background: #ced4da;
}

.btn{
    background: #02296D;
    width: 12em;
    height: 4em;
    border-radius: 2em;
    justify-content: space-around;
    /* margin-right: 4em; */
}

h2{
    justify-content: space-around;
}

.journeys{
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 1rem;
}
h1{
    color: #000;
    font-size: 3.2em;
}
section{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table{
    width: 80vw;
    /* height: 7em; */
    /* border: solid 2px blue; */
    border-collapse: collapse;
    

}
tr{
    height: 2.5em;
    border-bottom: solid 2px #ced4da;
}
td{
    width: 6em;
    height: 0.8em;
    background: #adb5bd;
    /* border: solid 2px red; */
}
th{
    background: #dee2e6;
}