.section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .fform{
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2.5em;
    box-shadow: 10px 8px 17px #888888;
    
    }
    .busCreationForm{
    width: 30em;
    height: 37em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    padding: 2em;
    /* border: solid 2px blue; */
    /* justify-content: center; */
    align-items: center;
    }
    .row{
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    }
    
    .bus-options{
        font-size: 14px;
        margin-bottom: 5px;
        background: inherit;
        border: 2px solid #ddd;
        padding: 12px 15px;
        border-radius: 3px;
        width: 275px;
        outline: none;
        font-size: 14px;
    }

    .busSelect{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 50px;
    }

    .add-bus{
        background: #4CAF50;
        position: relative;
        left: 15px;
        top: -9px;
        border: none;
        color: white;
        padding: 3px !important;
        border-radius: 3px;
        font-size: 10px;
        cursor: pointer;
        margin-top: 10px;
        /* width: 275px; */
        outline: none;
    }