.custom-field{
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
}
.custom-field input{
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
}
.custom-field .placeholder{
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-50%);
    color: #aaa;
    width: 80%;
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;

}
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
    top: -10px;
    font-size: 15px;
    color: #222;
}
.custom-field.one input{
    background: none;
    border: 2px solid #ddd;
    transition: 
        border-color 0.3s ease;
    transition-delay: 0.1s;
}
.custom-field.one input:valid, 
.custom-field.one input:focus{
    border-color: #222;
}
.custom-field.one input:valid + .placeholder,
.custom-field.one input:focus + .placeholder{
    top: -3px;
    margin-left: 0.5em;
    display: inline;
    /* padding: 2px 0 0 0; */
    left: 2px;
    background: #fff;
    max-width: 8.5em;
    height: 10px;
}
