.dark{
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.containerSecondary{
    width: 50em;
    height: 30em;
    
    background: #fff;
    border-radius: 1em;
    animation: slideDown 0.5s ease-in-out;
    /* z-index: 12; */
}
.box{
    display: flex;
    width: 100%;
    height: 100%;
    top: 4em;
}
.rright{
    width: 48%;
    height: 79%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    /* margin-left: 40px; */
    /* margin-top: 30px; */
}
.seatSelection{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.code{
    display: flex;
    gap:0.7em;
}
h4{
    text-align: center;
    font-size: 0.8em;
}
.meaning{
    display: flex;
    flex-direction: column;
}
.seat-row{
    display: flex;
    width: 90%;
    gap: 0.8em;
    height: 1.2em;
}
.seat{
    width: 2.2em;
    height: 2.2em;
    border-radius: 0.4em;
    background: #51889F;
}
.lleft{
    width: 50%;
    height: 79%;
    /* background: #842abc; */
}
.payment{
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    gap: 2em;
}
.choice{
    display: flex;
    align-items: center;
    gap: 0.6em;
}
.img, .img2{
    width: 4.5em;
    height: 4.5em;
    background-image: url("../../images/momo.png");
    background-size: cover;
    background-position: center;
}
.img2{
    background-image: url('../../images/OM.png');
}
h2{
    color: black;
    font-size: 2em;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 1.6em;
}

.green{
    background: #02C39A;
}

.options{
    display: flex;
    width: 100%;
    gap: 0.8em;
    padding: 0rem 0.5rem;
    height: 1.5em;
    margin-top: 1rem;
}

.btn{
    height: 1.5em !important;
    border-radius: 10px !important;
    background: #02C39A !important;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0.8rem 1.2rem;
}

.cancel{
    background-color: #BE3636 !important;
}

@keyframes slideDown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}