
.main{
    width: 30em;
    height: 18em;
    background: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 8px 8px 17px #b3b1b1;
    margin-bottom: 1em;
}
.right, .left{
    width: 50%;
    height: 100%;

}
.right{
    margin-top: 0.65em;
    /* margin-right: 2em; */
    margin-left: 2em;
}
.left{
    margin-top: 0.65em;
  margin-left: 2em;
  margin-right: 3em;
}
.left h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: #BE3636;
}
.line{
    width: 1px;
    height: 80%;
    background: #C4C4C4;
    margin-top: 1em;
}
.left label{
    font-family: 'Lora', serif;
    font-size: 1.2em;
}
.right .location{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    text-align: left;
}
.right p{
    font-family: 'Lora', serif;
    color: #8C8989;
}
.right label{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin: 0;
}
.flex{
    display: flex;
    gap: 0.3em;
}
.fa{
    font-size: 1.2em;
    color: #8C8989;
}

.cancel{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-left: 2em;
}

.cancel:hover{
    background-color: white !important;
    color: #BE3636;
    border-color: #BE3636;
}