.Ucontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    gap: 2em;
}
.cContainer{
    display: flex;
    flex-direction: column;
}

.userTrips{
    position: absolute;
    top: 0;
    background-color: white;
    width: 18rem;
}

.anim{
    animation: slideIn 0.7s ease-in-out;
    --bg-display: flex;
}

.hide{
    left: -999px;
    animation: slideOut 1.5s ease-out;
    --bg-display: none;
}

.tripsBody{
    height: 90vh;
    /* border: 1px solid red; */
    padding: 2rem 1.5rem;
    overflow-y: scroll;
    z-index: 1000;
}

.trip{
    border-top: 1px solid rgba(128, 128, 128, 0.587);
    border-bottom: 1px solid rgba(128, 128, 128, 0.593);
    padding: 0.2rem 0rem;
}

.openTrips{
    font-size: 2.4rem;
    padding: 20px;
    border-radius: 50%;
    background-color: aquamarine;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    /* color: white; */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.41);
    cursor: pointer;
    position: relative;
}

.trip-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.232);
    display: var(--bg-display);
    /* z-index: -8; */
}

@keyframes slideIn {
    from {
        left: -999px;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        left: 0;
        opacity: 0;
    }
    to{
        left: -999px;
        opacity: 1;
    }
}